*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	/*background-color: #f1f1f1;*/
}
.claerfix{
	clear: both;
}
.fr{
	float: right;
}
.fl{
	float: left;
}
#item{
	width: 224px;
	height: 368px;
	margin: 0 auto;
	background-color: #f1f1f1;
}
#item .list{
	position: relative;
	width: 224px;
	height: 36px;
	border-bottom: 1px solid #ddd;
	/*overflow: hidden;*/
}
#item .list .pTitlie{
	width: 224px;
	height: 36px;
}
.list .pTitlie i{
	display: block;
	width: 30px;
    height: 100%;
    float: left;
    color: #868686;
    font-style: normal;
    line-height: 36px;
    text-indent: 5px;/*文字缩进*/
    overflow: hidden;
    font-weight: 700;
}
.color{
	color: #ff5f00;
}
/*.list .pTitlie i:nth-child(1){
	 color: #ff5f00;
}*/
.list .pTitlie .span1{
	display: block;
	width: 194px;
    float: left;
    height: 100%;
    font-size: 14px;
    line-height: 36px;
}
#item .list .pCon{
	position: absolute;
	top: 0;
	left: 0;
	width: 223px;
	height: 109px;
	padding: 1px 0 0 1px;
	overflow: hidden;
	display: none;
	background-color: #e7e7e7;;
}
.pCon .span2{
	display: inline-block;
	position: relative;
	width: 79px;
	height: 109px;
}
.pCon .num{
	position: absolute;
	top: 0;
	left:0;
	display: block;
	width: 24px;
	height: 24px;
	color: #fff;
	line-height: 24px;
	text-align: center;
	font-style: normal;
	background-color: rgba(240,96,0,.8);
}
.list .pCon .span2 img{
	height: 105px;
	width: 75px;
}
.pCon .span3{
	display: inline-block;
	width: 130px;
	height: 35px;
	font-size: 14px;
    line-height: 35px;
    overflow: hidden;
    margin-left: 10px;
    /*padding: 8px 0 2px;*/
}
.pCon .span3 a{
	color: #333;
}
.pCon .name{
	float: left;
    width: 130px;
    font-size: 12px;
    line-height: 22px;
    color: #999;
    height: 66px;
    margin-left: 10px;
    overflow: hidden;
} 